* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0px;
  background-color: #f2f2f2;
  height: 100vh;
}

input {
  padding: 10px;
  margin: 2px;
  width: 100%;
}

.common-button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 2px;
  border: 1px;
  width: 100%;
}

.avatar {
  height: 50px;
  width: 50px;
}

.round-button {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  padding: 10px;
  border: solid 1px #f2f2f2;
  cursor: pointer;
  outline: none;
}

.round-button img {
  height: 25px;
  width: 25px;
}

.round-button img svg {
  fill: #fff;
}

.call-button {
  background: #6ecd00;
}

.contact {
  background-color: #fff;
}

.contact:hover {
  background-color: #f6f6f6;
}

.call-page {
  color:         #fff;
  background:    #222222;
  height:         100vh;
}

.call-page .videos {
  display:        flex;
  align-items:    center;
  flex-direction: column;
}

.call-page .videos .my-video {
  height: 200px;
  width: 200px;
  margin-top: -200px;
  margin-left: calc(100vw - 200px);
  background: red;
}

.call-page .videos .other-video {
  height: 100vh;
}

.call-page .bottom-menu {
  display:         flex;
  flex-direction:  row;
  align-items:     center;
  justify-content: center;
  margin-top: -100px;
}

.call-page .bottom-menu button {
  margin: 10px;
}

.call-page .title {
  text-align: center;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.call-page .big-avatar-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.call-page .big-avatar {
  height: 300px;
  width: 300px;
  border: solid 5px #ffffff;
}